.home-wrapper {
  display: flex;
  
}

/* Style the sidebar */
.sidebar {
  width: 200px;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
 
  padding: 20px;
}

/* Adjust the main content area */
.content {
  margin-left: 200px; /* Set the same width as the sidebar */
  margin-top: 64px; /* Add margin-top for spacing */
  padding: 20px;
  
}

/* Ensure the navbar is always visible */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  
}
.pagination-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 9px;
}