/* navbar.css */

.navbar {
  

background: rgba( 144, 19, 254, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar .container {
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-link {
  color: #333;
  font-weight: bold;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: color 0.3s;
}

.logout-button:hover {
  color: #ff0000;
}

.logout-button svg {
  margin-left: 5px;
}
