/* profile.css */
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose_file {
  margin-bottom: 10px;
}

.upload_button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image {
  text-align: center;
}

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.idd {
  margin-bottom: 1px;
}

.update-profile {
  background-color: #007bff;
  color: #fff;
  padding: 5px 100px;
  border: none;
  cursor: pointer;
}

.update-profile:hover {
  background-color: #0056b3;
}

/* Add additional styles as needed */
