/* sidebar.css */

#sidebar {
  width: 200px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
 

background: rgba( 144, 19, 254, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#sidebar header {
  margin-bottom: 20px;
}

#sidebar header a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav a {
  color: #333;
  
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.nav i {
  margin-right: 10px;
}

.nav hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
  width: 80%;
}
